You're on Gazooyr !
    <% if user_signed_in? %>
       Connecté
    <% else %>
        Déconnecté
    <% end %>

    <nav class="navbar-default" >
    <div class="container row col-md-4 col-md-8 well jumbotron container navbar-header navbar-right" >
        Le twitter qu'il est vachement plus mieux
    </div>
    <div class="container navbar-header">
        <a class="navbar-brand" >Gazooyr</a>
        <ul class="nav" >
            <li><a>Tendances</a></li>
            <li><a>Bienvenue !</a></li>
        </ul>
    </div>
    <section>Les derniers gazooies</section>
    </nav>